/* app */
.root {
  widows: 100%;
  border-top: 0.5rem solid #664df7;
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 11px 18px -12px rgba(0, 0, 0, 1);
  padding: 2rem;
  background-color: #fff;
}
.root:hover{
  border-left: 4px solid #26a1ff;
}

/* header */
.title {
  margin: 2rem 0 0.5rem 0;
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid #664df7;
  padding: 0.5rem;
}
.description {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #b5b5b5;

}
.main{
  display: flex;
  max-width: 50rem;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: #fff5f6;
  padding: 2rem;
}
/* form */
.question_root{
  widows: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 8px 11px 18px -12px rgba(0, 0, 0, 1);
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.question_root:hover{
  border-left: 4px solid #26a1ff;
}
input[type=text]
{
  border:none;
  border-bottom: 1px solid lightgray;
}